.about {
    padding: 62px 0;
}

.about__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    text-transform: uppercase;
    max-width: 700px;
    margin-bottom:0 0 24px;
}

.about__description {
    line-height: 1.5;
    max-width: 700px;
    margin:0 0 72px;
}

.about__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 384px);
    gap:24px 32px;
}


.about__item {
    padding:6px 6px 6px 96px;
    background-position:left;
    background-repeat: no-repeat;
    background-size: 80px;
}

.about__item_top {
    background-image: url(../img/top.svg);

}

.about__item_master {
    background-image: url(../img/master.svg);
}

.about__item_garantiya {
    background-image: url(../img/garantiya.svg);
}


.about__item-title {
    margin: 0 0 8px;
}

.about__item-description {
    margin: 0;
}